.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
    margin-bottom: 2rem;
}

.title {
	font-size: var(--font-size-m);
	margin-bottom: 2rem;
}

@media (min-width: 992px) {
	.title {
		font-size: var(--font-size-l);
	}
}
